// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(60, 180, 1);
$gray: #0E0000;
$light-gray: #F4F4F4;
$ireland: #4d7835;

$hover-gray: rgb(56, 56, 56);

$radix-black: #181818;

