// Specific CSS for your home-page

.heading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  border: 1px solid #1EDD88;
  transition: background-color .5s;
  &:hover {
    background-color: $hover-gray;
  }
}

.heading-font {
  font-family: $headers-font;
  font-weight: lighter;
  color: white;
}