// Specific CSS for your home-page
.section-home {
  position: relative;
  height: 75vh;
}

.heading-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color .5s;
}

.heading-font {
  font-family: $headers-font;
  font-weight: lighter;
  color: white;
}

