// Specific CSS for your home-page
.section-home {
  position: relative;
  height: 75vh;
}

.heading-container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  &:hover .search-instructions-card {
    opacity: 1.0;
    transition: all 2s;

  }
}

.search-instructions-card {
  width: 400px;
  background-color: rgba(56, 56, 56, .4);
  padding: 10px 5px;
  border-radius: 20px;
  opacity: 0.0;
  transition: opacity 0.5s;
  text-align: center;
}

.search-instructions-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-search {
  color: $green;
}

.heading-font {
  font-family: $headers-font;
  font-weight: lighter;
  color: white;
}


.search-input {
  border-radius: 20px !important;
  width: 400px !important;
}
