<h2>This page is for displaying search results</h2>
<h4>We need a timeline for the results from the API</h4>

<ul>
  <% @all_articles["response"]["results"].first(5).each do |article| %>
  <li>
    
      <h4><%=  article["webTitle"] %> </h4>
      <h5><%= article["webPublicationDate"] %> </h5>
      <p><%= article["webUrl"] %></p>
    
    
  </li>
   
<% end %>
</ul>




