<h2>This page is for displaying search results</h2>
<h4>We need a timeline for the results from the API</h4>
<h3>
Test article title: <%= @all_articles[0].title %>
</h3>

Test article content: <%= @all_articles[0].content %>