 <div class="footer mt-5 d-flex justify-content-between fixed-bottom">
      <p class="footer-text">Copyright © 2020 Open Radix. All rights reserved</p>
      <div class='about-git d-flex flex-row align-row'>
       <p class="about-footer"><%= link_to "About", about_path, class: "about-footer"%></p>
       <a href="https://github.com/becevi/rails-open-radix"><i class="fab fa-github mx-2"></i></a>
     </div>
    </div>
