 <div class="footer mt-5 d-flex justify-content-between fixed-bottom">
      <p class="footer-text">Copyright © 2020 Open Radix. All rights reserved</p>
      <span><a href="#"><i class="fab fa-instagram"></i></a>
       <a href="#"><i class="fab fa-github"></i></a>
       <a href="#"><i class="fab fa-twitter"></i></a></span>
    </div>
