
<div class="d-flex flex-column align-items-end">
<div class="about-text ml-2">
    
<p><em>open-radix</em> is an online search engine that aims to help users find news sources.</p> 
<p><b>What’s happening?</b> Society is traversing through one specific paradox in the Information Revolution. 
Access to information is possible like never before, but for that very same reason it is increasingly difficult for people to access reliable information. 
In the Internet, quantity is an obstacle that obscures quality information.</p> 
<p><b>Why it matters?</b> As we have seen in the last decade, news, social networks and the Internet have great influence over public thinking, to the point of restricting individuals to their own belief system.</p>
<p><b>How is <em>open_radix</em> helpful?</b> We believe this platform is just a small step into media and digital literacy. 
<em>open_radix</em> is a tool that, via queries, allows a user to trace a news item to its approximate source or sources, enabling them to analyze its source, development, agenda and reliability, thus taking a critical approach into news consumption.</p>
</div>
</div>
