
  <div class="heading-container">

    <h1><span id="typed"></span></h1>

    <%= form_tag articles_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input mr-1 radius-1px fa",
          autocomplete: "off",
          placeholder: "Get the original source of your news"
          %>
          <%= button_tag(type: "Submit", class: "btn", id: "search-button" ) do  %>
             <i class="fas fa-search"></i>
          <% end %>
      <% end %>

      <div class="search-instructions-card mt-3">
      <ul>
        <li><strong>Search tip:</strong></li>
        <br>
        <li>Be specific with your keywords for accurate results</li>
        <br>
        <li class="example-search"><em>Example: Jacob Blake Police Kenosha</em></li>
      </ul>
    </div>
  </div>

<%= javascript_pack_tag 'typed' %>


