<div class="heading-container">
  <h1 class="heading-font">open_radix</h1>
  <%= form_tag class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input mr-1 radius-1px mb-1"
    %>
    <%= submit_tag "Find Source", class: "btn btn-ireland"  %>
    <% end %>
</div>


