.btn-ireland {
  background-color: $green;
  color: white;
}

.btn-ireland-outline {
  background-color: transparent;
  color: $green;
  border: 1px solid white;
  &:hover {
    color: white;
    border: 1px solid $green;
  }
}

.devise-btn {
  background-color: $green;
  color: white;
  border-color: $radix-black;
}

.devise-btn:hover {
 background-color: $green;
 filter: grayscale(0.3);
 border-color: $radix-black;
 color: $radix-black;
}

