.btn:focus {
  border-color: $green;
  box-shadow: none; 
  -webkit-box-shadow: none;
}

.btn-ireland {
  background-color: $green;
  color: white;
  border-radius: 20px;
  &:focus {
    border-color: $green;
    box-shadow: none; 
  -webkit-box-shadow: none;
  }
}

.btn-ireland-outline {
  background-color: transparent;
  color: $green;
  border-radius: 20px;
  border: 1px solid white;
  padding: 4px;
  padding-right: 6px;
  padding-left: 6px;
  &:hover {
    color: white;
    border: 1px solid $green;
    transition: all 500ms ease;
  }
  &:focus {
    border-color: $green;
    box-shadow: none; 
  -webkit-box-shadow: none;
  }
}


.devise-btn {
  background-color: $green;
  color: white;
  border-color: $radix-black;
  &:hover {
   background-color: $green;
   filter: grayscale(0.3);
   border-color: $radix-black;
   color: $radix-black;
  }
}

.btn-small {
  width: 180px;

}

.fa-search {
  font-size: 27px;
  color: $green;
  padding-left: 0px;
  &:hover {
    transform: scale(1.1);
  }
}

