.footer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  margin: 0;
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
}

.footer-text {
  font-size: 12px;
  color: white;
  margin: 0;
}

.fa-instagram {
  color: $green;
  padding: 2px;
}

.fa-github {
  color: $green;
  padding: 2px;
}

.fa-twitter {
  color: $green;
  padding: 2px;
}

.fa-instagram:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}

.fa-twitter:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}

.fa-github:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}
