.fa-user {
   font-size: 21px;
   padding-left: 0px;
   &:hover {
    transform: scale(1.03);
    transition: all 300ms ease;
   }
}


.fa-trash-alt {
  color: $green;
   &:hover {
    color: white;
    text-decoration: none;
    transition: all 500ms ease;
  }
}


.fa-edit {
  color: $green;
  &:hover {
  color: white;
  text-decoration: none;
  transition: all 500ms ease;
  }
}

.edit-delete-btn  {
  text-decoration: none;
}
