.form-control:focus {
  border-color: $green;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: $body-font !important;
}

.form-control {
  font-family: $body-font !important;
  
}

.secondary-search {
  opacity: 0.1;
  transition: 0.5s all;
  &:focus {
    opacity: 1.0;
  }
}

