.form-control:focus {
  border-color: $green;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: $body-font !important;
}

.form-control {
  font-family: $body-font !important;
  border: 1px solid #383838 !important;
}

.secondary-search {
  background-color: $hover-gray;
  transition: 0.5s all;
  color: white;
  &:focus {
    opacity: 1.0;
    background-color: white;
    color: #495057;
  }
}

