

.modal-content {
  background-color: rgba(56, 56, 56, 0.99);
}

.modal-header {
  color: white;
}

.modal-body {
  color: white;
  overflow: auto;
}

#exampleModalLabel {
  color: white;
}

.modal-backdrop {
  z-index: 1;
}
