.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.active {
  color: $green !important;
}


.dropdown {
    .dropdown-menu {
        transition: all 0.7s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(0.7,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}
