.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 60px;
}

.navbar-brand {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.active {
  color: $green !important;
}


.dropdown {
    .dropdown-menu {
        transition: all 0.3s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1, 0);
        display: block;
        opacity: 0;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
            opacity: 1;
        }
    }
}
