<h1> <span style="color: #1EDD88"><%= current_user.name.downcase %>'s</span> timelines</h1>
<hr>
<div class="timeline-grid">

  <div class="timeline-card">

  </div>
  <div class="timeline-card">

  </div>
  <div class="timeline-card">

  </div>
  <div class="timeline-card">

  </div>


</div>
