<h1> <span style="color: #1EDD88"><%= current_user.name.downcase %>'s</span> timelines</h1>
<hr>


<div class="timeline-grid">


 <%  @timelines.each do |timeline| %>
  <div class="timeline-card">
    <h3> <%= timeline.topic %> </h3>
  </div>
  <% end %>

</div>
