// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/forms";
@import "components/icons";
@import "components/links";

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: white;
  background-image: image-url("opaque-brain.png");
  background-position: -40% 15%;
  background-size: 1050px 1100px;
  background-repeat: no-repeat;
}


.article-name {
  width: 700px;
}
