// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/forms";
@import "components/icons";
@import "components/links";
@import "components/sharebuttons";
@import "rails-social-share-button";


body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: white;
  background-image: radial-gradient(circle, rgba(77,120,53,0.08307072829131656) 0%, rgba(24,24,24,0.2679446778711485) 51%),
  image-url("opaque-brain.png");
  background-position: -33% 15%;
  background-size: 900px 900px;
  background-repeat: no-repeat;
  height: 43vh;
  overflow: hidden;
  box-sizing: border-box;
}


.article-name {
  width: 700px;
}



